<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter App</title>
  </head>

  <style>
    [v-cloak] {
      display: none;
    }
  </style>

  <body>

    <div id="app" v-cloak>
      <div class="center">
        <h1 :style="{color: 'blue'}">{{title}}</h1>
        <div>
          <div>
            <input 
              type="text" 
              :style="{
                  marginRight: '10px',
                  borderColor: inputValue.length > 0 ? '#ccc' : 'red',
                  borderRadius: '5px'
              }" 
              :placeholder="placeholder"
              v-model="inputValue"
              @keypress.enter="addNote">
          </div>  
          <button class="btn primary" style="margin-top: 10px;" v-on:click="addNote">Plus</button>
        </div>
        <h1>inputValue: {{inputValue}}</h1>
      </div>

      <hr>

      <ul class="list" v-if="notes.length !== 0">
        <li style="margin-top: 10px;" class="list-item" v-for="(note, index) in notes">
          [{{index+1}}] {{toUpperCase(note)}}
          <button class="danger" v-on:click="deleteNote(index)">Удалить</button>
        </li>  
        <hr>
        <b>Count: {{notes.length}} | {{doubleCount}}</b>
      </ul>
      <div v-else>Нет записей</div>

    </div>
      
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/src/main.js"></script>
  </body>
</html>
